.icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(sprite.svg);
}
.icon-kui_icon_1b {
	width: 32px;
	height: 32px;
	background-position: 0 0;
}
.icon-kui_icon_1 {
	width: 32px;
	height: 32px;
	background-position: -48px 0;
}
.icon-kui_icon_2 {
	width: 32px;
	height: 32px;
	background-position: -96px 0;
}
.icon-kui_icon_2b {
	width: 32px;
	height: 32px;
	background-position: -144px 0;
}
.icon-kui_icon_3 {
	width: 32px;
	height: 32px;
	background-position: -192px 0;
}
.icon-kui_icon_3b {
	width: 32px;
	height: 32px;
	background-position: -240px 0;
}
.icon-kui_icon_4 {
	width: 32px;
	height: 32px;
	background-position: -288px 0;
}
.icon-kui_icon_4b {
	width: 32px;
	height: 32px;
	background-position: -336px 0;
}
