/*!
 * 作者： wgx
 * 日期：1493026579345
 */
.container{
  text-align: center;
}

.top{
  display: flex;
  justify-content: center;
  margin:20px auto;
  max-width: 750px;
}

.name{
  flex:1;
}

.Hanoi{
  margin:0 auto;
  width: 100%;
  max-width: 750px;
  display: flex;
  justify-content: center;
  align-items:center; 
}

button{
  margin:10px ;
}
*{
  box-sizing:border-box;
}

body,html{
  width: 100%;
  height: 100%;
}

#App{
  display: flex;
  justify-content: center;
  align-items:center;
}

ul,li{
  list-style:none;
  padding: 0;
  margin:0;
}